<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="calculator" ng-app="homework" ng-controller="CalculatorController">
        <input ng-model="a" type="text" placeholder="введите первое число">
        <input ng-model="operator" type="text" placeholder="выберите оператор">
        <input ng-model="b" type="text" placeholder="введите второе число">
        <br>
        <br>
        <p>Результат: {{ result() }}</p>
    </div>
</body>
</html>
